* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #ffeedf;
}

.header-el {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #145434;
    font-size: 36px;
    padding-left: 30px;
    padding-right: 30px;
}

.best-beers {
    color: #145434;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.header-el > .menu-icon {
  font-size: 36px;
}

main {
    max-width: 1200px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    justify-content: center;
}

.card-div {
    background-color: #145434;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    position: relative;
    /* width: 400px; */
    height: 250px;
}

.card-text {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}

.card-num {
    position: absolute;
    top: -20px; 
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #145434;
    background-color: #ffeedf;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #145434;
}

.beer-title {
    font-size: 36px;
    font-weight: 400;
    color: #ffeedf;
    padding-bottom: 20px;

}

.beer-sub {
    font-size: 18px;
    font-weight: 400;
    color: #ffeedf;
}

.beer-text {
    font-size: 18px;
    font-weight: bold;
    color: #ffeedf;
}

 .button {
    width: 200px;
    height: 50px;
    background-color: #ffeedf;
    color: #145434;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute; /* Hozzáadott pozíció beállítása */;
    bottom: -10px; /* Negatív érték, hogy az alsó vonal alá lógjon */
    right: -10px; /* Negatív érték, hogy a jobb vonal túloldalán lógjon */
    padding: 5px 15px; /* Több tér hozzáadása a lógás kiegyenlítéséhez */
    box-sizing: border-box; /* Az elem dobozmodell beállítása */
    border: 1px solid #145434;
    text-align: center;

}

.button > .btn-icon {
  margin-right: 10px;
} 

.button > .btn-icon::before {
    margin-right: 5px; /* Kis tér az ikon és a felirat között */
}

.button > .btn-text {
    flex: 1; /* Az ikon és a szöveg közötti teret kitölti a flex-box segítségével */
}



.button:hover{
  background-color: #145434;
  color: #ffeedf;
  border: 1px solid #ffeedf;
}

@media screen and (max-width: 1000px) {
  main {
    grid-template-columns: 1fr; 
    justify-content: center;
  }
  .card-div {
    max-width: 400px;
    margin: 0 auto;
  }
}


@media screen and (max-width: 480px) {
    .card-div {
      width: 80%; 
      padding: 15px;
    }
  
    .card-num {
      font-size: 16px; 
      width: 30px;
      height: 30px;
      top: -15px; 
      right: -15px; 
    }
  
    .button {
      font-size: 12px; /* Kisebb méret a gomb szövegének */
      padding: 8px; /* Kisebb padding a gombon */
    }
  }
  
  
  
  
  
  





